<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Vue Weather</title>
    <link href="scss/style.scss" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <header>
        <panel-button
          text="Open Panel"
          @click="showPanel = !showPanel"
          v-if="!showPanel"
        ></panel-button>
        <panel-button
          text="Close Panel"
          @click="showPanel = !showPanel"
          v-else="showPanel"
        ></panel-button>
      </header>
      <main>
        <section class="weather-data">
          <styled-title text="Weather Data"></styled-title>
          <div class="cards">
            <weather-card
              v-for="item in data"
              :key="item.id"
              v-if="data"
              :data="data"
            >
              <template v-slot:header>
                <h3>{{ item.name }}</h3>
              </template>
              <template v-slot:content>
                <p>
                  Temperature: {{ item.main.temp }} &deg;F<br />High: {{
                  item.main.temp_max }} &deg;F<br />Low: {{ item.main.temp_min}}
                  &deg;F
                </p>
                <p>
                  Humidity: {{ item.main.humidity }}%<br />Cloud Cover: {{
                  item.weather[0].description }}
                </p>
              </template>
            </weather-card>
            <transition name="fade">
              <add-card-form v-if="showForm"></add-card-form>
            </transition>
          </div>
          <add-card-button @click="showForm = !showForm"></add-card-button>
        </section>
        <transition name="slide">
          <slide-panel
            v-if="showPanel"
            text="I'm a panel"
            @click="showPanel = !showPanel"
          ></slide-panel>
        </transition>
      </main>
    </div>
    <script src="index.js"></script>
  </body>
</html>
