<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Vue What I'm Reading</title>
    <link href="scss/style.scss" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <main>
        <section class="book-data">
          <div class="header-container">
            <h1 class="styled-title">What I'm Reading</h1>
            <h1 class="styled-title offset" aria-hidden="true">
              What I'm Reading
            </h1>
            <h1 class="styled-title offset stroke" aria-hidden="true">
              What I'm Reading
            </h1>
          </div>

          <div class="cards">
            <book-card
              v-for="item in data"
              :key="item.id"
              v-if="data"
              :data="data"
            >
              <template v-slot:image>
                <img :src="item.book.image_url" />
              </template>
              <template v-slot:header>
                <h2>{{item.book.title_without_series}}</h2>
              </template>
              <template v-slot:content>
                <p>
                  by {{item.book.authors.author.name}}
                </p>
                <span
                  v-bind:class="{'read' : item.shelves.shelf['@attributes'].name === 'read', 'to-read' : item.shelves.shelf['@attributes'].name === 'to-read', 'reading' : item.shelves.shelf['@attributes'].name === 'reading'}"
                >
                  {{item.shelves.shelf['@attributes'].name}}</span
                >
                <p v-if="item.rating !== '0'">
                  {{item.rating}} / 5
                </p>
              </template>
            </book-card>
          </div>
        </section>
      </main>
    </div>
    <script src="index.js"></script>
  </body>
</html>
