<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Vue Weather</title>
    <link href="scss/style.scss" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <header>
        <panel-button
          text="Open Panel"
          @click="show = !show"
          v-if="!show"
        ></panel-button>
        <panel-button
          text="Close Panel"
          @click="show = !show"
          v-else="show"
        ></panel-button>
      </header>
      <main>
        <styled-title text="Hi"></styled-title>
        <weather-card v-if="data" :data="data"></weather-card>
        <transition name="fade">
          <slide-panel
            v-if="show"
            text="I'm a panel"
            @click="show = !show"
          ></slide-panel>
        </transition>
      </main>
    </div>
    <script src="index.js"></script>
  </body>
</html>
